.padding-0 {
  padding-top: 50px !important;
  padding-bottom: 0px !important;
  margin-bottom: -80px;
}

.padding-bottom-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: -100px;
}

.padding-top-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 50px;
  margin-top: -120px;
}

.font_39 {
  font-size: 39px !important;
}

.bg-white {
  background-color: #fff !important;
}
