.padding-0 {
  padding-top: 50px !important;
  padding-bottom: 0px !important;
  margin-bottom: -80px;
}

.padding-bottom-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: -100px;
}

.padding-top-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 50px;
  margin-top: -120px;
}
.padding-top-40 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 50px;
  margin-top: -50px;
}

.btn-primary:hover {
  background-color: #fff !important;
  color: #612069;
}

.padding-40 {
  padding-bottom: 40px !important;
}

.font-size-39 {
  font-size: 39px !important;
}
